{
  "openapi": "3.1.0",
  "info": {
    "title": "Tawk.to AI Support Agent",
    "description": "AI-powered customer support agent for tawk.to AI Assist",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tawk-agent-integration-u26389.vm.elestio.app",
      "description": "Production server"
    }
  ],
  "paths": {
    "/chat": {
      "post": {
        "operationId": "chat",
        "summary": "Send a message to the AI agent",
        "description": "Processes a customer message and returns an AI-generated response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check endpoint",
        "description": "Returns the health status of the API",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "model": {
                      "type": "string",
                      "example": "gemini-2.0-flash"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MessageRequest": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "The customer's message"
          },
          "system_prompt": {
            "type": "string",
            "description": "Optional custom system prompt"
          },
          "conversation_history": {
            "type": "array",
            "description": "Optional conversation history",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["user", "model"]
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "The AI-generated response"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
